{% extends "admin/index.html" %}
{% load i18n qm_access %}
{% comment %}
  The start page of the admin is Django's own, with two additions above the list of the models:
  a reviewer gets the way to the QM area (the check is the one of the QM pages, a superuser is no
  QM), a superuser gets the system status (context: system_status, from LabCIRSAdminSite.index).
  The block "content" is Django's with these two lines added: look at it again when Django is
  upgraded.
{% endcomment %}

{% block content %}
<div id="content-main">
  {% if user|is_qm %}
    <p><a class="button" href="{% url 'qm_overview' %}">{% translate "To the QM area" %}</a></p>
  {% endif %}
  {% if system_status %}{% include "admin/system_status.html" %}{% endif %}
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
